<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EmulatorRemotePath" value="T:/games/emulators/Playnite/" />
		<add key="EmulatorLocalPath" value="%LOCALAPPDATA%/Playnite" />
		
		<add key="EmulatorDesktopExe" value="Playnite.DesktopApp.exe" />
		<add key="EmulatorFullscreenExe" value="Playnite.FullscreenApp.exe" />

		<!-- This is comma separated and relative to the emulator folder -->
		<add key="CopyFoldersBackAfterRun" value="ExtensionsData/KidMode" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>